@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
*{
    margin: 0;
    padding: 0;
}
.wraper{
    width: 100%;
    display: flex;
    height: 100vh;
    border-collapse:collapse ;
    box-sizing: border-box;
    position: fixed;
}
.sidebar{
    background:#393a3d;
}
.main-content{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.content{
    flex: 1;
    background: #f4f5f6;
    padding: 0 3%;
    overflow: hidden;
}
.header{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    border-top: 0.2px solid;
}
.item-center{
    display: flex;
    align-items: center;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.form-wraper{
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color:rgba(0,0,0,.4);
    transition: 0.4s;
    position: fixed;
    z-index: 100;
}
.d-flex{
    display: flex;
}
.show{
    display: flex !important;
}