.content .header-content{
    width:100%;
    padding: 22px 0;
    position: sticky;
}
.header-content .top-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-header .right-header{
    display:  flex;
    padding: auto 0;
    padding: 5px;
    justify-content: center;
}
.top-header i{
    font-size: 16px;
}
.header-content .right-header a{
    color: black;
    display: flex;
    justify-content: center;
    text-decoration: none;
    border: 0.5px solid;
    padding: 8px 16px;
    border-radius: 18px ;
}
.add-btn{
    display: flex;
    margin-left: 20px;
}
.add-btn a:first-child{
    background-color: #248b15;
    border-radius: 0;
    border-top-left-radius:18px;
    border-bottom-left-radius: 18px;
    border: none;
}
.add-btn a:last-child{
    background-color: #248b15;
    padding: 8px 0;
    border-radius: 0;
    border-bottom-right-radius: 18px;
    border-top-right-radius:18px ;
    border: none;
    text-align: center;
}
.add-btn a:last-child:hover{
    background-color: #3eac2d;
}
.add-btn i{
    width: 48px;
    border-left:1px solid ;
}
.bottom-header a{
    color: blue;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.bottom-header a i{
    font-size: 16px;
}
.table-content{
    background: white;
    overflow: auto;
    height: 580px;
}
.table-content .table-header{
    display: flex;
    justify-content: space-between;
    height: 36px;
    margin-bottom: 8px;
    padding: 16px;
    position: sticky; 
    left: 0;
}
.table-header a{
    color: gray;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 8px 16px;
    border-radius:18px;
    border: 0.5px solid;
}
.right-table-header{
    color: gray;
    display: flex;
    align-items: center;
    margin-right:16px ;
}
.filter-input{
    padding: 4px;
    padding-left: 10px;
    border: 0.5px solid;
    border-radius: 3px;
    margin-right: 5px;
}
.filter-input:focus{
    border-color: #248b15;
}
.right-table-header input{
    border: none;
    outline: 0;
    width: 240px;
    height: 24px;
}
.right-table-header i{
    margin: 0 4px;
    cursor: pointer;
}
.right-table-header i:hover{
    color: rgb(75, 74, 74);
}
.table-content table{
    margin-top: 5px;
    width: max-content;
}
.table-content thead{
    z-index: 1;
    font-size: 12px;
    font-weight: 700;
}
.table-content th{
    padding: 5px 10px 3px 10px;
    background: #f4f5f6 ;
    z-index: 10;
    height: 34px;
    border-right:1px solid rgb(199, 199, 199);
    border-bottom:1px solid rgb(199, 199, 199);
    text-align: left;
    vertical-align: middle;
    box-sizing: border-box;
    position: sticky;
    top:0;
}
.table-content .big-td{
    width: 229px;
}
.table-content .small-td{
    width: 129px;
}
.table-content thead .static{
    z-index: 100;
}
.table-content .static{
    position: sticky;
    left: 16px;
    z-index: 25;
    box-sizing: border-box;
}
.table-content input[type = "checkbox"]{
    width: 16px;
    height: 18px;
}
.table-content thead .static-right{
    z-index: 100;
    background-color: #f4f5f6;
}
.table-content .static-right{
    position: sticky;
    right:45px ;
    border-right:none !important;
    border-left:1px solid rgb(199, 199, 199) ;
    width: 100px;
    z-index: 25;
    background: #fff;
}

.table-content .table-outline{
    min-width: 16px;
    max-width: 16px;
    background: #fff;
    position: sticky;
    border: 0;
    z-index: 25 !important;
    padding: 0;
}
.table-content .table-outline.left{
    left: 0;
    width: 16px;
}
.table-content .table-outline.right{
    right: 0;
    width: 45px;
}
.table-content td{
    padding: 5px 10px;
    border-right: 1px solid rgb(199, 199, 199);
    border-bottom:1px solid rgb(199, 199, 199) ;
    height: 40px;
    z-index: 1;
    box-sizing: border-box;
}
.table-content .table_cell{
    height: calc(100% - 13) !important;
    display: flex;
    vertical-align: middle;
}
.table-content .head-title{
    position: sticky;
    top: 0;
}
.main-footer{
    position: sticky;
    height: 45px;
    width: 100%;
    bottom: 25px;
    z-index: 50;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
tr:hover td{
    background-color:#f3f8f8 ;
}